/* #region header */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  padding-top: 32px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header-nav-logo {
  display: inline-flex;
  gap: 8px;
  margin-right: auto;
}

.header-burger-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.header-burger-btn-icon {
  display: block;
  fill: none;
  stroke: currentColor;
}

.menu-btn,
.submenu,
.order-btn {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header-burger-btn-icon {
    display: none;
  }

  .header-nav {
    display: inline-flex;
    gap: 151px;
    align-items: flex-start;
    margin-right: 151px;
  }

  .order-btn {
    display: block;
    border: 1px solid #0041e8;
    border-radius: 60px;
    width: 163px;
    height: 100%;
    padding: 18px 24px;
    background-color: #0041e8;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #fafafa;
    text-align: center;
  }
  .order-btn:focus,
  .order-btn:hover {
    background-color: #022a8f;
  }
  .menu-btn {
    position: relative;
    display: block;
    background-color: transparent;
    width: 67px;
    height: 39px;
    color: #fafafa;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.02em;
    text-decoration: underline;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  .submenu {
    position: absolute;
    top: 65%;
    left: 48%;
    transform: translateX(-50%);
    background: transparent;
    display: none;
  }

  .submenu.active {
    display: block;
  }
  .nav-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
  }

  .nav-link {
    color: #fafafa;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
  }

  .nav-link:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #0041e8;
  }
}
@media only screen and (min-width: 1440px) {
  .header-nav {
    display: inline-flex;
    gap: 487px;
    align-items: flex-start;
    margin-right: 487px;
  }
}
/* #endregion */
